
    <nav class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 fixed-top bg-white nv">
      <a href="/" class="text-decoration-none fw-bold fs-4">
        <span class="mx-5">ChengeRecruit</span>
      </a>
  
      
      {% if user.is_authenticated %}
      <div class="col-md-3 text-end mx-5">
        <a href="{% url 'logout' %}"  class="btn btn-outline-primary me-2">Logout</a>
        
      </div>

      {%else%}
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#steps" class="nav-link">Guide</a></li>
        <li class="nav-item"><a href="#edu" class="nav-link">Education</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
      </ul>
  
      <div class="col-md-3 text-end mx-5">
        <a href="/login"  class="btn btn-outline-primary me-2">Login</a>
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
      {%endif%}
    </nav>
