{%extends 'base.html'%}
{% block content %} 
<div class="container mt-5 py-5">

    <h1>Welcome to Theory Test</h1>
    
    {%if user.is_superuser%}
    {%else%}
    <div class="fixed-top mt-5 mx-5 py-2" align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
    {%endif%}
    
    
        <form method='post' action=''>
            {% csrf_token %}
            {% for q  in questions%}
            
            <div class="form-group">
              <label for="question"><h3>Question {{q.id}} :{{q.question}}</h3></label>
            </div>
           
            <div class="form-check">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="{{q.option1}}">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.option1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.option2}}">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.option2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="{{q.option3}}">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.option3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.option4}}">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.option4}}
                    </label>
                </div>
                <br>
            </div>   
            {% endfor %}
            
            <input id='timer' type='hidden' name="timer" value="">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


</div>

       

       {% block script %}
              <script>
      
                  console.log('hello world')
                  const timer=document.getElementById('displaytimer')
                  console.log(timer.textContent)
                  const inputtag = document.getElementById('timer')
      
                  t=0
                  setInterval(()=>{
                      t+=1
                      timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                      inputtag.value = t
                  },1000)
              </script>
        {% endblock script %}
{% endblock %}
